<ion-tabs>
    <ion-tab [root]="tabProduct" tabTitle='{{ productTabTitle }}' tabIcon="home"></ion-tab>
    <ion-tab [root]="tabFavourity" tabTitle='{{ favouriteTabTitle }}' tabIcon="md-heart"></ion-tab>
    <ion-tab [root]="tabCart" tabTitle='{{ cartTabTitle }}' tabBadge='{{ noOfProduct }}' tabIcon="md-cart"></ion-tab>
</ion-tabs>