<ion-header>

    <ion-navbar>
        <ion-title>{{ productTitle }}</ion-title>
        <ion-buttons end>
            <ion-badge item-end>{{ favouriteCount }}</ion-badge>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <div *ngFor="let product of productList">
            <product-card [product]="product" [pageType]="pageType" (addProductToFav)="addProductToFavoriteList(product)"></product-card>
        </div>
    </ion-list>
</ion-content>