<ion-header>

    <ion-navbar>
        <ion-title>{{ favouriteTitle }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="favoriteList.length > 0">
        <div *ngFor="let product of favoriteList">
            <product-card [product]="product" [pageType]="pageType"></product-card>
        </div>
    </ion-list>
    <div *ngIf="favoriteList.length <= 0" class="empty-list">
        You have not any favourity product.
        <button ion-button (click)="openProductTab()">Add Product</button>
    </div>
</ion-content>