<ion-card>
    <ion-card-header class="align-center">
        {{ product.pName }}
    </ion-card-header>
    <ion-card-content class="align-center padding-0">
        <p>{{ product.pDescription }}</p>
        <ion-row class="custom-border-top">
            <ion-col *ngIf="pageType !== 'CartPage'" class="custom-border-right" (click)="addToCartList()">
                <ion-icon md="md-cart"></ion-icon>
            </ion-col>
            <ion-col *ngIf="pageType === 'CartPage'" class="custom-border-right" (click)="deleteFromCartList()">
                <ion-icon color="danger" md="md-trash"></ion-icon>
            </ion-col>
            <ion-col (click)="addToFavouriteList()" *ngIf="pageType === 'ProductsPage'">
                <ion-icon *ngIf="!isFavorit" md="md-heart"></ion-icon>
                <ion-icon *ngIf="isFavorit" color="secondary" md="md-heart"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>