<ion-header>

    <ion-navbar>
        <ion-title>{{ cartTitle }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <div *ngFor="let product of cartList">
            <product-card [product]="product" [pageType]="pageType"></product-card>
        </div>
    </ion-list>
    <div *ngIf="cartList.length <= 0" class="empty-list">
        Your cart is empty
        <button ion-button (click)="openProductTab()">Add Product</button>
    </div>
</ion-content>